<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <h2>Selamat datang di Sini! </h2>
    <div th:text="${listAccident.size()}"></div>

    <div class="card" th:each="accident, iterationStatus : ${listAccident}">
        <div class="card-body">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${accident.severity}"></td>
            <td th:text="${accident.city}"></td>
        </div>
    </div>


</div>
</body>
</html>


