<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"> -->

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css"> -->
  <!-- <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}" type="text/css"> -->

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" th:href="@{/css/landing-page.min.css}" -->

  <style>
    .card-list {
      padding-right:5rem; 
      padding-left:5rem;
      padding-top:2rem;
      padding-bottom:1rem;
    }

    header .feature-icon{
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  </style>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#">TA 03 - MongoDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#about">About<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#search">Search</a>
      </div>
    </div>
  </nav>

  <!-- Title -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Historical accident in United States</h1>
          <h5>By Group PDB-03 with MongoDB Technology</h5>
          <br>
          <a type="button" href="#about" class="btn btn-outline-light btn-lg">Let's Start</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About -->
  <header class="masthead text-white" style="padding-top: 2rem; padding-bottom: 0rem;" id="about">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-11 mx-auto">
          <h1 class="mb-5">Faktor Utama Kecelakaan</h1>
          <h5>Berdasarkan hasil analisis menggunakan metode correlation. Kami menemukan bahwa 3 faktor utama dari banyak kecelakaan yang terjadi di United States adalah</h5>
          <br>
        </div>
      </div>
    </div>
  </header>

  <header class="features-icons masthead text-white text-center" style="padding-top: 2rem; padding-bottom: 0rem;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Bootstrap 4 Ready</h3>
            <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
          </div>
        </div>
      </div>
    </div>
  </header>



  <!-- Search Field -->
  <header class="masthead text-white text-center" id="search">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Search historical accident in United States now!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <!-- <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div> -->
              <div class="col-4">
                <input type="text" class="form-control form-control-lg" placeholder="Location">
              </div>
              <div class="col-4">
                <input type="text" class="form-control form-control-lg" placeholder="Keyword">
              </div>
              <div class="col-4">
                <input type="text" class="form-control form-control-lg" placeholder="Cities">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <a href="#history-list" type="submit" class="btn btn-block btn-lg btn-outline-light">Search Now!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- List By Search -->
  <header id="history-list" class="masthead features-icons card-list"
    style="padding-top: 0rem; padding-bottom: 2rem;">
    <div class="desc container text-white">
      <h5>List History for Location: NW-101, Keyword: Windy, Cities: Chicago</h5>
    </div>
    <div class="overlay"></div>
    <br>
    <div class="alert alert-danger" role="alert">
      Daerah <a href="#" class="alert-link">Chicago</a>. Memiliki tingkat kecelakaan yang tinggi!
    </div>
    <div class="card" style="margin-bottom:20px">
      <h5 class="card-header">Date: 10-12-2020</h5>
      <div class="card-body">
        <h5 class="card-title">At Chicago NW-101</h5>
        <p class="card-text">Night, Windy, ...</p>
        <a href="#" class="btn btn-dark">Go to map</a>
      </div>
    </div>
    <div class="card" style="margin-bottom:20px">
      <h5 class="card-header">Date: 10-12-2020</h5>
      <div class="card-body">
        <h5 class="card-title">At Chicago NW-101</h5>
        <p class="card-text">Night, Windy, ...</p>
        <a href="#" class="btn btn-dark">Go to map</a>
      </div>
    </div>
    <div class="card" style="margin-bottom:20px">
      <h5 class="card-header">Date: 10-12-2020</h5>
      <div class="card-body">
        <h5 class="card-title">At Chicago NW-101</h5>
        <p class="card-text">Night, Windy, ...</p>
        <a href="#" class="btn btn-dark">Go to map</a>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="footer text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; TA PDB 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-github fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="@{/vendor/jquery/jquery.min.js}"></script> -->
  <!-- <script src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script> -->
  

</body>

</html>
